<div class="container p-3">
  <h1>Add a new list</h1>
  <div class="container card p-4 bg-dark">
    <%# <h1>Spawn a Monster</h1> %>
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%# <%= f.input :image_url %>
      <%= f.submit 'Add', class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
