<div class="container show p-3">

  <div class="container d-flex align-items-center gap-2">
    <h1><%= @list.name %></h1>
    <%= link_to new_list_bookmark_path(@list), class: 'text primary' do %>
      <p></i> <i class="fas fa-plus"></i> movie</p>
    <% end %>
  </div>

  <div class="cards">
    <% @bookmarks.each do |bookmark| %>

      <div class="card mb-3 bg-dark" style="max-width: 760px; max-height: 300px;">
        <div class="row g-0">
          <div class="col-md-4">
            <%= image_tag bookmark.movie.poster_url, class: "img-fluid rounded-start" %>
          </div>
          <div class="col-md-8 bg-dark">
            <div class="card-body text-secondary">
              <h5 class="card-title text-light"><%= bookmark.movie.title %></h5>
              <p class="card-text"><%= bookmark.movie.overview %></p>
              <p class="card-text"><small class="text-muted">Rating: <%= bookmark.movie.rating %></small></p>
              <p class="card-text"><small class="text-light"><i class="fas fa-quote-left text-secondary"></i> <%= bookmark.comment %> <i class="fas fa-quote-right text-secondary"></i></small></p>
              <%= link_to bookmark_path(bookmark), method: :delete, data: {confirm: "Are you sure?"}, class: 'text primary' do %>
                <i class="fas fa-trash-alt text-danger"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
