<div class="container show p-3">
  <div class="container d-flex align-items-center gap-2">
    <h1><%= @list.name %></h1>
    <%= link_to new_list_bookmark_path(@list), class: 'text primary' do %>
      <p class="plus-movie"></i> <i class="fas fa-plus"></i> movie</p>
  <% end %>
</div>
<div class="cards2">
  <% @bookmarks.each do |bookmark| %>
    <div class="card-trip">
      <%= image_tag bookmark.movie.poster_url, class: "img-fluid rounded-start" %>
      <div class="card-trip-infos">
        <div>
          <h2><%= bookmark.movie.title %></h2>
          <%# <p><%= bookmark.movie.overview</p> %>
          <p>Rating: <%= bookmark.movie.rating %></p>
        </div>
        <h2 class="card-trip-pricing"><i class="fas fa-quote-left text-secondary"></i> <%= bookmark.comment %> <i class="fas fa-quote-right text-secondary"></i></h2>
        <%= link_to bookmark_path(bookmark), method: :delete, data: {confirm: "Are you sure?"}, class: 'card-trip-user' do %>
          <i class="fas fa-trash-alt text-danger"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
