<div class="container p-3">
  <h1>Add a new bookmark</h1>
  <div class="container card bg-dark p-4">
    <%# <h1>Spawn a Monster</h1> %>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%# <%= f.input :image_url %>
      <%= f.submit 'Add', class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
